{{- define "workload_partitioning" -}}
[crio.runtime.workloads.management]
activation_annotation = "target.workload.openshift.io/management"
annotation_prefix = "resources.workload.openshift.io"
resources = { "cpushares" = 0, "cpuset" = {{ .reservedCpuSet | quote }} }
{{ end }}
{{- define "openshift_workload_pinning" -}}
{
  "management": {
    "cpuset": {{ .reservedCpuSet | quote }}
  }
}
{{ end }}
{{- $namespace := .Values.metadata.name }}
{{- $nodepoolconfigs := .Values.hypershift.nodePoolConfigs }}
{{- range .Values.compute }}
{{- $poolconfig := dict }}
{{- $poolname := .name }}
  {{- range $nodepoolconfigs }}
    {{- if eq .name $poolname }}
      {{- $poolconfig = . }}
    {{- end }}
  {{- end }}
{{- if hasKey $poolconfig "reservedCpuSet" }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: "{{ .name }}-workload-partitioning"
  namespace: {{ $namespace | quote }}
data:
  config: |
    apiVersion: machineconfiguration.openshift.io/v1
    kind: MachineConfig
    metadata:
      labels:
        machineconfiguration.openshift.io/role: "worker"
      name: 02-workload-partitioning
    spec:
      config:
        ignition:
          version: 3.2.0
        storage:
          files:
            - contents:
                source: data:text/plain;charset=utf-8;base64,{{ include "workload_partitioning" $poolconfig | b64enc }}
              mode: 420
              overwrite: true
              path: /etc/crio/crio.conf.d/01-workload-partitioning
              user:
                name: root
            - contents:
                source: data:text/plain;charset=utf-8;base64,{{ include "openshift_workload_pinning" $poolconfig | b64enc }}
              mode: 420
              overwrite: true
              path: /etc/kubernetes/openshift-workload-pinning
              user:
                name: root
---
{{- end }}
{{- end }}
